{% extends 'base.html.twig' %}

{% block title %}Sector{% endblock %}

{% block body %}

<div class="container col-6 mx-auto text-center">
    <h1>Viendo: {{ sector.nombreSector }}</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sector.id }}</td>
            </tr>
            <tr>
                <th>Nombre sector</th>
                <td>{{ sector.nombreSector }}</td>
            </tr>
        </tbody>
    </table>
{# botones #}
    <a class="btn mx-1 btn-primary "href="{{ path('sector_index') }}">Volver a Sectores</a>
    <a class="btn mx-1 btn-success "href="{{ path('sector_edit', {'id': sector.id}) }}">Editar sector</a>
    <a class="btn mx-1 btn-danger "href="{{ path('sector_confirmar_borrar', {'id': sector.id}) }}">Eliminar sector</a>

</div>

{% endblock %}




























